body {
    margin: 0;
    overflow-x: hidden;
}

button {
    padding: 100px 200px;
    font-size: 16px;
    cursor: pointer;
}

p {
    font-size: 18px;
}

/* Hide the canvas on mobile devices */
@media (max-device-width: 768px) {
    .p5Canvas {
        display: none;
    }
}

/* Make sure the canvas is visible on desktop */
@media (min-device-width: 769px) {
    .p5Canvas {
        display: block;
    }
}