* {
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    overflow-x: hidden;
}

p {
    margin: auto;
    font-size: 1em;
    font-weight: 300;
}

img {
    width: 100%;
    height: auto;
}

#logo {
    display: block; /* Makes the image a block element */
    margin: 0 auto; /* Centers it horizontally */
    width: 100%; /* Optional: Makes the image responsive */

    margin: 3vh 0;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr; /* A single column spanning the width */
    gap: 3vh; /* Adds space between rows */

    margin: 3vh auto;
}

.buttonWrapper {
    width: 100%;
    margin: auto;
}

button {
    width: 100%;
    height: 8vh;
    margin: 0 auto;  

    font-size: 1.5em;
    font-weight: 500;

    color: white; /* Text color */
    border: none; /* Removes border */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Changes cursor to pointer on hover */
}

button:hover {
    background-color: #ffce1d; /* Darker background on hover */
}

.infoWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 3vw;

    margin-top: 3vw;
}

#natureButton {
    background-color: #79D44D;
}

#factoryButton {
    background-color: #404040;
}

#settlementButton {
    background-color: #1F6BB3;
}
  